.nav {
 background-color: #640AD2;
 display: flex;
 justify-content: space-between;
 height: 50px;
 flex-direction: row;
 width: 100%;
}

.header {
 display: flex;
 height: 20px;
 color: white;
 font-size: 19px;
 margin: auto;
 padding-top: .6rem;
 margin-left: 25px;
}



@media screen and (max-width:340px) {
 .header {
  font-size: .7rem;
 }
}
